; Unlock Final Nav with the "FINALE" attribute.
; Allow starting finale events with survivors everywhere
; To fix stupid bug that final stage doesn't start at all By Harry
modify:
{
	match:
	{
		"targetname" "button_elev_3rdfloor"
	}
	insert:
	{
		"OnPressed" "@director,BeginScript,Unlock_FinalNav,0,-1"
	}
}


;----------FILE MODIFICATION (YY/MM/DD): [2021/04/20] ---------------||
;----------BY: ..........[₮ŵ]----------------------||

add:
{
	"solid" "6"
	"origin" "-4169 -3398 128"
	"angles" "90 269 90"
	"model"	 "models/props_update/concrete_256.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-4169 -3398 384"
	"angles" "90 269 90"
	"model"	 "models/props_update/concrete_256.mdl"
	"classname"	"prop_dynamic"
}


{
	"solid" "6"
	"origin" "-4169 -3398 640"
	"angles" "90 269 90"
	"model"	 "models/props_update/concrete_256.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-4169 -3398 896"
	"angles" "90 269 90"
	"model"	 "models/props_update/concrete_256.mdl"
	"classname"	"prop_dynamic"
}

; from github.com/Derpduck/L4D2-Comp-Stripper-Rework/blob/master/cfg/stripper/maps/c1m4_atrium.cfg
; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
add:
; --- Crowbar before the elevator
{
	"classname" "weapon_melee_spawn"
	"origin" "-3052 -4252 -538"
	"angles" "0 90 -90"
	"melee_weapon" "crowbar"
	"spawn_without_director" "1"
	"solid" "0"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "1"
}
; --- Melee weapon by the information stand
{
	"classname" "weapon_melee_spawn"
	"origin" "-4357 -3882 37"
	"angles" "0 330 90"
	"melee_weapon" "any"
	"spawn_without_director" "1"
	"solid" "0"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "1"
}


; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Block gas cans (and players) from ending up in unreachable locations
; --- Lower Floor (1st)
; --- Re-opening Construction
{
	"classname" "env_physics_blocker"
	"origin" "-2576 -4352 212"
	"mins" "-208 -128 -20"
	"maxs" "208 128 20"
	"boxmins" "-208 -128 -20"
	"boxmaxs" "208 128 20"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Georgia Pork Barrel
{
	"classname" "env_physics_blocker"
	"origin" "-3682 -4436 196"
	"mins" "-322 -44 -36"
	"maxs" "322 44 36"
	"boxmins" "-322 -44 -36"
	"boxmaxs" "322 44 36"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Taco Bucket
{
	"classname" "env_physics_blocker"
	"origin" "-4256 -4464 196"
	"mins" "-176 -16 -36"
	"maxs" "176 16 36"
	"boxmins" "-176 -16 -36"
	"boxmaxs" "176 16 36"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Wok on the Wild Side
{
	"classname" "env_physics_blocker"
	"origin" "-4832 -4444 196"
	"mins" "-320 -36 -36"
	"maxs" "320 36 36"
	"boxmins" "-320 -36 -36"
	"boxmaxs" "320 36 36"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Empty Storefront
{
	"classname" "env_physics_blocker"
	"origin" "-5536 -3312 196"
	"mins" "-320 -48 -36"
	"maxs" "320 48 36"
	"boxmins" "-320 -48 -36"
	"boxmaxs" "320 48 36"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Potato Safari
{
	"classname" "env_physics_blocker"
	"origin" "-3344 -3284 196"
	"mins" "-172 -20 -36"
	"maxs" "172 20 36"
	"boxmins" "-172 -20 -36"
	"boxmaxs" "172 20 36"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Beef Boy Stew
{
	"classname" "env_physics_blocker"
	"origin" "-2736 -3283 196"
	"mins" "-176 -19 -36"
	"maxs" "176 19 36"
	"boxmins" "-176 -19 -36"
	"boxmaxs" "176 19 36"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Middle Floor (2nd)
; --- Re-opening Construction
{
	"classname" "env_physics_blocker"
	"origin" "-2640 -4336 478"
	"mins" "-272 -144 -10"
	"maxs" "272 144 10"
	"boxmins" "-272 -144 -10"
	"boxmaxs" "272 144 10"
	"initialstate" "1"
	"BlockType" "4"
}
{
	"classname" "env_physics_blocker"
	"origin" "-2464 -3873 478"
	"mins" "-96 -319 -10"
	"maxs" "96 319 10"
	"boxmins" "-96 -319 -10"
	"boxmaxs" "96 319 10"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Lady Shoes
{
	"classname" "env_physics_blocker"
	"origin" "-4992 -4472 464"
	"mins" "-176 -8 -24"
	"maxs" "176 8 24"
	"boxmins" "-176 -8 -24"
	"boxmaxs" "176 8 24"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Unmarked Corner
{
	"classname" "env_physics_blocker"
	"origin" "-6012 -3300 464"
	"mins" "-172 -36 -24"
	"maxs" "172 36 24"
	"boxmins" "-172 -36 -24"
	"boxmaxs" "172 36 24"
	"initialstate" "1"
	"BlockType" "4"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6324 -3388 480"
	"mins" "-140 -124 -8"
	"maxs" "140 124 8"
	"boxmins" "-140 -124 -8"
	"boxmaxs" "140 124 8"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Under Construction Storefront #1
{
	"classname" "env_physics_blocker"
	"origin" "-5419 -3316 384"
	"mins" "-235 -52 -104"
	"maxs" "235 52 104"
	"boxmins" "-235 -52 -104"
	"boxmaxs" "235 52 104"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Under Construction Storefront #2
{
	"classname" "env_physics_blocker"
	"origin" "-3373 -3312 472"
	"mins" "-301 -48 -16"
	"maxs" "301 48 16"
	"boxmins" "-301 -48 -16"
	"boxmaxs" "301 48 16"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Upper Floor (3rd)
; --- Guardian Sports Source
{
	"classname" "env_physics_blocker"
	"origin" "-3636 -4456 720"
	"mins" "-320 -24 -24"
	"maxs" "320 24 24"
	"boxmins" "-320 -24 -24"
	"boxmaxs" "320 24 24"
	"initialstate" "1"
	"BlockType" "4"
}
{
	"classname" "env_physics_blocker"
	"origin" "-3636 -4416 720"
	"mins" "-288 -16 -24"
	"maxs" "288 16 24"
	"boxmins" "-288 -16 -24"
	"boxmaxs" "288 16 24"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Fauntletroy's
{
	"classname" "env_physics_blocker"
	"origin" "-4179 -4438 720"
	"mins" "-177 -42 -24"
	"maxs" "177 42 24"
	"boxmins" "-177 -42 -24"
	"boxmaxs" "177 42 24"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Empty Storefront
{
	"classname" "env_physics_blocker"
	"origin" "-4836 -4464 721"
	"mins" "-321 -16 -24"
	"maxs" "321 16 24"
	"boxmins" "-321 -16 -24"
	"boxmaxs" "321 16 24"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Unmarked Corner
{
	"classname" "env_physics_blocker"
	"origin" "-6247 -3354 736"
	"mins" "-175 -134 -3"
	"maxs" "175 134 3"
	"boxmins" "-175 -134 -3"
	"boxmaxs" "175 134 3"
	"initialstate" "1"
	"BlockType" "4"
}
; --- Additional gas can blockers to prevent cans from being launched to locations that are unreachable for survivors, but still reachable for infected
; --- Elevator Shaft
{
	"classname" "script_clip_vphysics"
	"origin" "-4076 -3404 784"
	"angles" "0 0 0"
	"extent" "92 124 624"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
; --- Roof Top
{
	"classname" "script_clip_vphysics"
	"origin" "-5770 -3926 1216"
	"angles" "0 45 0"
	"extent" "278 400 192"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
{
	"classname" "script_clip_vphysics"
	"origin" "-4640 -4212 1244"
	"angles" "0 0 0"
	"extent" "2272 36 164"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
; --- Top Floor (4th)
{
	"classname" "script_clip_vphysics"
	"origin" "-5576 -3228 1104"
	"angles" "0 0 0"
	"extent" "848 340 304"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
{
	"classname" "script_clip_vphysics"
	"origin" "-4444 -3024 1104"
	"angles" "0 0 0"
	"extent" "284 136 304"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
{
	"classname" "script_clip_vphysics"
	"origin" "-3936 -3072 1104"
	"angles" "0 0 0"
	"extent" "224 184 304"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
{
	"classname" "script_clip_vphysics"
	"origin" "-3688 -4332 1104"
	"angles" "0 0 0"
	"extent" "232 156 304"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
{
	"classname" "script_clip_vphysics"
	"origin" "-4696 -4332 1100"
	"angles" "0 0 0"
	"extent" "232 156 308"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
; --- Top and Upper Floors (4th and 3rd)
{
	"classname" "script_clip_vphysics"
	"origin" "-3144 -3404 972"
	"angles" "0 0 0"
	"extent" "776 164 436"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
; --- Upper Floor (3rd)
{
	"classname" "script_clip_vphysics"
	"origin" "-6156 -3504 640"
	"angles" "0 0 0"
	"extent" "84 16 104"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
{
	"classname" "script_clip_vphysics"
	"origin" "-3372 -4208 772"
	"angles" "0 0 0"
	"extent" "52 16 236"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
{
	"classname" "script_clip_vphysics"
	"origin" "-2844 -4332 772"
	"angles" "0 0 0"
	"extent" "476 156 236"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
{
	"classname" "script_clip_vphysics"
	"origin" "-2468 -3872 972"
	"angles" "0 0 0"
	"extent" "100 304 436"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
{
	"classname" "script_clip_vphysics"
	"origin" "-3688 -4168 972"
	"angles" "0 0 0"
	"extent" "240 12 436"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
; --- Under Construction Bridge
{
	"classname" "script_clip_vphysics"
	"origin" "-3380 -3881 972"
	"angles" "0 200 0"
	"extent" "64 352 436"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}
; --- Mall Exit Doors
{
	"classname" "script_clip_vphysics"
	"origin" "-4448 -2308 704"
	"angles" "0 0 0"
	"extent" "416 4 704"
	"filtername" "filter_gascan"
	"StartDisabled" "0"
}

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================
; --- Add a railing elevator so survivors can stand on it
add:
{
	"classname" "prop_dynamic"
	"origin" "-4065 -3404 573"
	"angles" "0 0 0"
	"model" "models/props_urban/elevator_rail001.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4065 -3311 574"
	"mins" "-71 -3 -1"
	"maxs" "71 3 1"
	"initialstate" "1"
	"BlockType" "0"
	"parentname" "elevator"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4065 -3497 574"
	"mins" "-71 -3 -1"
	"maxs" "71 3 1"
	"initialstate" "1"
	"BlockType" "0"
	"parentname" "elevator"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4133 -3404 574"
	"mins" "-3 -90 -1"
	"maxs" "3 90 1"
	"initialstate" "1"
	"BlockType" "0"
	"parentname" "elevator"
}

;----------FILE MODIFICATION (YY/MM/DD): [2022/09/23] ---------------||
;----------BY: Harry Potter [TW]----------------------||
; ladder
modify:
{
	match:
	{
		;"model" "*141"
		"hammerid" "564317"
	}
	replace:
	{
		"team" "0"
	}
}
{
	match:
	{
		;"model" "*144"
		"hammerid" "722943"
	}
	replace:
	{
		"team" "0"
	}
}
{
	match:
	{
		;"model" "*138"
		"hammerid" "564308"
	}
	replace:
	{
		"team" "0"
	}
}
{
	match:
	{
		;"model" "*143"
		"hammerid" "722937"
	}
	replace:
	{
		"team" "0"
	}
}

add:
{
	"solid" "0"
	"origin" "-2860 -3532 0"
	"angles" "0 358 0"
	"model"	 "models/props_vehicles/train_ladder.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-2860 -3532 129"
	"angles" "0 358 0"
	"model"	 "models/props_vehicles/train_ladder.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-2860 -3532 258"
	"angles" "0 358 0"
	"model"	 "models/props_vehicles/train_ladder.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-2860 -3532 387"
	"angles" "0 358 0"
	"model"	 "models/props_vehicles/train_ladder.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-2860 -3532 516"
	"angles" "0 358 0"
	"model"	 "models/props_vehicles/train_ladder.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-2860 -3532 645"
	"angles" "0 358 0"
	"model"	 "models/props_vehicles/train_ladder.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-2860 -3532 774"
	"angles" "0 358 0"
	"model"	 "models/props_vehicles/train_ladder.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-5549 -3533 0"
	"angles" "0 89 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-5549 -3533 128"
	"angles" "0 90 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-5549 -3533 256"
	"angles" "0 90 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-5549 -3533 384"
	"angles" "0 90 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-5549 -3533 512"
	"angles" "0 90 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-5549 -3533 640"
	"angles" "0 90 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-5549 -3533 768"
	"angles" "0 90 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-4950 -4179 0"
	"angles" "0 -90 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-4950 -4179 128"
	"angles" "0 -90 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-4950 -4179 256"
	"angles" "0 -90 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-4950 -4179 384"
	"angles" "0 -90 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-4950 -4179 512"
	"angles" "0 -90 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

; object
{
	"solid" "6"
	"origin" "-4072 -3045 792"
	"angles" "0 -12 0"
	"model"	 "models/props/cs_militia/boxes_frontroom.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-5602 -3369 792"
	"angles" "0 177 0"
	"model"	 "models/props/de_nuke/crate_extralarge.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-4947 -3212 792"
	"angles" "0 49 0"
	"model"	 "models/props/cs_militia/crate_extralargemill.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-2941 -3375 792"
	"angles" "0 177 0"
	"model"	 "models/props_mall/mall_display_03.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-3592 -3372 792"
	"angles" "0 267 0"
	"model"	 "models/props_mall/mall_display_08.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-3266 -3368 792"
	"angles" "0 177 0"
	"model"	 "models/props_mall/mall_display_07.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-4681 -3028 792"
	"angles" "0 -12 0"
	"model"	 "models/props/cs_militia/boxes_garage_lower.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-4835 -3033 792"
	"angles" "0 47 0"
	"model"	 "models/props_crates/static_crate_40.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-4843 -3104 792"
	"angles" "0 47 0"
	"model"	 "models/props_crates/static_crate_40.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-4879 -3071 792"
	"angles" "0 47 0"
	"model"	 "models/props_crates/static_crate_40.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-4849 -3089 831"
	"angles" "0 47 0"
	"model"	 "models/props_crates/static_crate_40.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-4853 -3035 829"
	"angles" "0 47 0"
	"model"	 "models/props_crates/static_crate_40.mdl"
	"classname"	"prop_dynamic"
}

filter:
; removee all brakable glass
{
	"classname"	"func_breakable"
}

add:
{
	"classname" "prop_dynamic_override"
	"angles" "0 270 0"
	"model" "models/props_unique/airport/atlas_break_frame.mdl"
	"origin" "-4437.644 -2497.062 0"
	"disableshadows" "1"
	"solid" "6"
}
{
	"classname" "prop_dynamic_override"
	"model" "models/props_unique/airport/atlas.mdl"
	"angles" "0 270 0"
	"origin" "-4437.644 -2497.062 0"
	"disableshadows" "1"
	"solid" "6"
}
;----------FILE MODIFICATION [2023_12_18] ---------------||
;----------BY: 廟不可言 [TW]----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-3868.41 -3525.03 -0.85"
	"angles" "0.00 -90 0.00"
	"model"	 "models/props_equipment/metalladder002.mdl"
	"classname"	"prop_dynamic"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-3868.41 -3525.03 127.09"
	"angles" "0.00 -90 0.00"
	"model"	 "models/props_equipment/metalladder002.mdl"
	"classname"	"prop_dynamic"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-3868.41 -3525.03 255.03"
	"angles" "0.00 -90 0.00"
	"model"	 "models/props_equipment/metalladder002.mdl"
	"classname"	"prop_dynamic"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-3868.41 -3525.03 382.97"
	"angles" "0.00 -90 0.00"
	"model"	 "models/props_equipment/metalladder002.mdl"
	"classname"	"prop_dynamic"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-3868.41 -3525.03 510.91"
	"angles" "0.00 -90 0.00"
	"model"	 "models/props_equipment/metalladder002.mdl"
	"classname"	"prop_dynamic"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-3868.41 -3525.03 638.85"
	"angles" "0.00 -90 0.00"
	"model"	 "models/props_equipment/metalladder002.mdl"
	"classname"	"prop_dynamic"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-3868.41 -3525.03 766.79"
	"angles" "0.00 -90 0.00"
	"model"	 "models/props_equipment/metalladder002.mdl"
	"classname"	"prop_dynamic"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-5524.09 -3526.00 0.03"
	"angles" "0.00 91.82 0.00"
	"model"	 "models/props_highway/plywood_01.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-3844.57 -3515.76 0.03"
	"angles" "0.00 94.68 0.00"
	"model"	 "models/props_highway/plywood_01.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-2835.33 -3529.78 0.03"
	"angles" "0.00 89.47 0.00"
	"model"	 "models/props_highway/plywood_01.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-2767.57 -3643.55 0.03"
	"angles" "0.00 48.76 270.00"
	"model"	 "models/props_vehicles/train_ladder.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-3944.06 -3655.83 -6.18"
	"angles" "270.00 234.44 360.00"
	"model"	 "models/props_equipment/metalladder002.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-4889.91 -4047.55 2.03"
	"angles" "90.00 -119.60 0.00"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-5450.09 -3640.96 5.03"
	"angles" "90.00 136.73 0.00"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2023_12_18"
	"solid" "0"
	"origin" "-4974.82 -4185.57 0.03"
	"angles" "0.00 -91.60 0.00"
	"model"	 "models/props_highway/plywood_01.mdl"
	"classname"	"prop_dynamic_override"
}

